h1 {
    text-align: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: orange;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
}

a:hover {
    background-color: green;
    color: white;
}
.number{
    color: red;
    font-weight: bold;
}
.file{
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}
button{
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 2px;

}
/*button:hover {*/
/*    background-color: #51e051;*/
/*    border-radius: 1px;*/
/*    border: 2px solid #51e051;*/
/*    transition: 1s;*/
/*    color: black;*/
/*}*/
input{
     height: 25px;
    line-height: 25px;
}
a.active{
    background-color: #e2c072;
    color: #dd1010;
    border: 1px solid #fdfbfb;
}
ul{
    list-style: none;
}